@use "/src/styles/general";

.wrapper {
  max-width: 380px;
  position: relative;
}

.titleBlock {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 5px;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: general.$baseFontSize;
}

.description,
.warningText {
  color: general.$inputDescriptionTextColor;
  font-size: general.$smallFontSize;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 17px;
  line-height: general.$largeLineHeight;
  border-radius: 5px;
  border: 1px solid general.$inputDefaultColor;
  outline: none;
  color: general.$textColor;
  transition: border-color 0.3s, box-shadow 0.3s;

  &#file-upload-button {
    display: none;
  }

  &[type="date"] {
    &:focus {
      color: general.$textColor;
    }
  }

  &:focus {
    border-color: general.$inputFocusColor;
    box-shadow: 0px 0px 5px 0px general.$inputFocusColor;
  }

  &::placeholder {
    color: general.$inputPlaceholderColor;
    opacity: 0.5;
  }

  &.datePlaceholder {
    color: general.$inputDatePlaceholderColor;
  }

  &.complete {
    border-color: general.$inputCompleteColor;
  }

  &.warning {
    border-color: general.$inputErrorColor;
    box-shadow: 0px 0px 5px 0px general.$inputErrorColor;
  }
}

.warningText {
  position: absolute;
  bottom: -18px;
  right: 0;
  color: general.$inputErrorTextColor;
}
