@use "general";

html {
  font-size: general.$rootFontSize;
  height: 100%;
}

body {
  font-family: general.$fontFamily;
  font-size: general.$baseFontSize;
  line-height: general.$baseLineHeight;
  color: general.$textColor;
  height: 100%;
}

#root {
  height: 100%;
}
