@use "../../../styles/general";

.button {
  background-color: general.$btnBgDefaultColor;
  outline: none;
  border: none;
  min-width: 220px;
  color: general.$btnTextColor;
  text-align: center;
  padding: 18px 40px;
  border-radius: 4px;
  font-weight: 500;
  line-height: general.$largeLineHeight;
  cursor: pointer;

  &:hover {
    background-color: general.$btnBgHoverColor;
  }

  &:disabled {
    background-color: general.$btnBgDisabledColor;
    cursor: default;
  }
}
