// Name colors
$tundora: #484848;
$dustyGray: #979797;
$tiara: #ccd6d8;
$pampas: #f6f5f3;
$white: #fff;
$bittersweet: #ff7373;
$cornflowerBlue: #4285f4;
$blue: #5491f5;
$royalBlue: #3477e4;
$dodgerBlue: #2f8fff;

// Colors defenition
$textColor: $tundora;
$bgMainContainerColor: $pampas;
$bgFormContainerColor: $white;
$inputPlaceholderColor: $dustyGray;
$inputDatePlaceholderColor: rgba($dustyGray, 0.5);
$inputDescriptionTextColor: $dustyGray;
$inputBackgroundColor: $white;
$inputErrorTextColor: $bittersweet;
$inputErrorColor: rgba($bittersweet, 0.5);
$inputCompleteColor: $cornflowerBlue;
$inputFocusColor: rgba($cornflowerBlue, 0.5);
$inputDefaultColor: $tiara;
$inputIconDefaultColor: $cornflowerBlue;
$formTitleColor: $cornflowerBlue;
$btnBgDisabledColor: rgba($blue, 0.5);
$btnBgDefaultColor: $blue;
$btnBgHoverColor: $royalBlue;
$btnTextColor: $white;
$btnLightBgHoverColor: $pampas;
$btnLightDisabledColor: $tiara;
$btnLightBgColor: $white;
$btnLightBorderColor: $blue;
$btnLightTextColor: $cornflowerBlue;
$fileInputBorderColor: $blue;
$fileInputTextColor: $blue;
$fileInputCrossColor: $dodgerBlue;
$fileInputWarningTextColor: $bittersweet;
$fileInputBlockDescription: $dustyGray;
