// Font
$rootFontSize: 10px;
$baseFontSize: 1.8rem; // 18px
$smallFontSize: 1.3rem; // 13px
$largestFontSize: 3rem; // 30px
$baseLineHeight: 1;
$largeLineHeight: $baseLineHeight * 1.39; // 139%
$fontFamily: "GraphikLCG";
